@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-12-14 17:43:45
 * @version $Id$
 */
body{background-color:#e4e4e4}
header{color:#fff;font-size:.32rem;text-align:center;padding-top:.3rem;height:.62rem;}
header .iconfont{font-size:.36rem;cursor:pointer;}
header .icon-gouwuche{margin-right:.1rem;display:block;}
.wrap{width:7.5rem;margin:0 auto;}
nav{background:#d7d7d7;}
nav li{font-size:.34rem;color:#333;font-weight:700;line-height:1rem;background:#fff;width:1.7rem;border-radius:.1rem;float:left;text-align:center;margin:.18rem 0 .18rem .13rem;cursor:pointer;}
nav li:nth-child(1){background:#333;color:#fff;}

.wrapper1{padding-left:.1rem;}
section li{width:3.53rem;background:#fff;float:left;margin-right:.15rem;margin-top:.18rem;padding-bottom:.2rem;}
section li a{display:block;padding:.4rem .1rem;font-size:.3rem;color:#161616;}
/*section li p:nth-child(1){color:#838282;font-size:.26rem;}*/
section li .p1{color:#838282;font-size:.26rem;padding:0 .2rem .12rem;border-bottom:.01rem solid #161616;margin-bottom:.2rem;}
section li .p2{padding:0 .2rem;}
section li .s-1{font-size:.32rem;color:#ff4d4d;line-height:.36rem;}
section li .s-2{font-size:.26rem;line-height:.36rem;color:#7c7b7b;text-decoration:line-through;}
section li img{width:3.52rem;}
.footer ul li:nth-child(2) a:link,.footer ul li:nth-child(2) a:visited{color:#eb4f38;}